body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f7; /* Tom de verde */
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-weight: bold;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50; /* Tom de verde */
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Tom de verde mais escuro */
}

a {
    text-decoration: none;
    color: #007BFF; /* Tom de azul para links */
}

a:hover {
    text-decoration: underline;
}
